# ============================================================
# НАСТРОЙКА ДОСТУПА К БД
# ============================================================
# Адрес сервера БД, по умолчанию локально
DB_HOST = localhost
# Порт по умолчанию
DB_PORT = 5432
# Имя БД
DB_NAME = vkinder
# Имя пользователя БД
DB_USER = postgres
# Пароль пользователя БД
DB_PASSWORD = postgres